body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
}

.project {
    display: flex; /* makes it a flex container */
    background-color: #ffffff;
    border: 1px solid #e1e1e1;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
    width: 750px;
}

.project:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.project-content { /* New class for the right-side details of each project */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-logo {
    width: 80px;
    height: 80px;
    margin-right: 20px;
    border-radius: 10px;
}

.project h2, .project h3 {
    margin-top: 0;
    color: #444;
}

.project-links a {
    text-decoration: none;
    color: #007BFF;
    transition: color 0.2s;
}

.project-links a:hover {
    color: #0056b3;
}


.portfolio-header {
    display: flex;
    align-items: center; /* This will ensure the title and the image are vertically centered next to each other */
    gap: 20px; /* This will create a gap between the image and the title */
}

.profile-image {
    width: 80px; /* You can adjust this as needed */
    border-radius: 10px; /* To round the corners */
}